@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary_button {
  background-color: #ff900e;
  color: white;
  padding: 20px 30px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}
.text_gray {
  color: #424242;
}
.text_light_gray {
  color: #727272;
}
.bg_color {
  background-color: rgba(255, 144, 14, 0.1);
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 100px;
}
.section_tittle {
  font-size: 2.8rem;
  font-weight: 700;
}
/* header_style */

/* navbar related style */

.nav_item {
  list-style: none;
  margin-right: 20px;
}

.nav_link {
  text-decoration: none;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.brand {
  font-weight: 700;
  font-size: 3rem;
}

/* banner style */

.banner_content, .our_sponsors {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.banner_tittle {
  font-size: 4rem;
  font-weight: 700;
}
.banner_img {
  width: 100%;
}
/* Team and features related style */
.team_img_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our_features {
  /* margin-left: 100px; */
  max-width: 600px;
}

.features {
  color: #ff900e;
}
#quick_list {
  font-weight: 300;
}
.facts_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact_number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact_name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact_description{
  max-width: 540px;
}
/* Responsive media query */

@media screen and (max-width: 576px) {
  .display_flex {
    flex-direction: column;
  }
  .team_img_container {
    /* width: 100%; */
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .our_features {
    margin-left: 20px;
    text-align: center;
  }
  .features_tittle {
    font-size: 2.5rem;
  }
}
